{% extends "myapp/index.html" %}
{% load static %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <!-- /.container-fluid -->
  <div class="container-fluid">
    <!-- /.row -->
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Input Driver</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'data_driver' %}">Data Driver</a></li>
          <li class="breadcrumb-item active">Input Rak</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-12">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Kode Driver</label>
                    <input type="text" class="form-control" placeholder="Kode Driver" name="KodeDriver">
                  </div>
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nama Driver</label>
                    <input type="text" class="form-control" placeholder="Nama Driver" name="NamaDriver">
                  </div>
                  <!-- Unit Driver
                  <div class="form-group">
                    <label for="NamaUnit">Unit Kendaraan</label>
                    <select class="form-control" name="NamaUnit">
                        <option selected disabled>Pilih Unit Kendaraan</option>
                        {% for Unit in Units %}
                            <option value="{{ Unit.NamaUnit }} - {{ Unit.PlatNomor }}">{{ Unit.NamaUnit }} - {{ Unit.PlatNomor }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  -->
                  <!-- text input -->
                  <div class="form-group">
                    <label>Kantor</label>
                    <input type="text" class="form-control" placeholder="Kantor" name="Kantor">
                  </div>
                  <!-- text input -->
                  <div class="form-group">
                    <label>Status Driver</label>
                      <select class="form-control" name="Status">
                        <option selected disabled=true>Pilih Status Driver</option>
                        <option>Ready</option>
                        <option>Non Ready</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Kirim</button>
                </div>      
              </div>
            </form>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section> 
{% endblock %}